* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100%;
}

body {
    font-family: 'Montserrat';
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    position: sticky;
}

.user-profile {
    font-size: 3rem;
}

.menu {
    display: flex;
}

.menu li {
    margin: 1em;
    font-size: 1.2rem;
}

.container {
    height: calc(100vh - 3em);
    display: grid;
    grid-template-columns: minmax(max-content, 300px) 1fr;
}

.recipes-list, .user-favorites {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 1em;
}

.recipe {
    width: 100%;
    padding: 1em;
}

.recipe-img {
    width: 100%;
    object-fit: contain;
}

.recipe-name {
   font-size: 1.2rem;
   text-align: center;
}

.recipe-btn {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.tags {
   text-align:center;
}

.tag {
  border: 2px solid orange;
  border-radius: 50%;
  margin: 1em;
  font-size: 1.2rem;
}